

html {
    font-size: 62.5% //#KEYWORDS:- [rem to px conversion] THIS WILL MAKE 1rem=10px;
}

body {
    font-family : Arial, Helvetica, sans-serif;
    // background: black;
    color: black;
    margin: 0;
    padding : 0;
}

button {
    background: #99d6ff;
    color : black;
}

