.signInHeader,
.signUpHeader {
  position: absolute;
  top: 0vh;
  left: 19vw;
  padding: 1vh 0vw;
  font-size: 0.8vw;
  text-decoration: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  opacity: 1;
  // border : 1px solid white

}

.signUpHeader {
  left: 22.5vw;
  z-index: 1000;
  opacity: 1;
}

.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0vh;
  left: 0vw;
}

.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 25vh;
  left: 38vw;
  width: 27vw;
  height: 54vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.login form input {
  margin: 0 auto;
  width: 24vw;
  height: 6vh;
  border-radius: 20px;
  outline: none;
  background: rgba(42, 27, 61, 0.6);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid white;
}

.email {
  position: absolute;
  top: 18vh;
}

.name {
  position: absolute;
  top: 8vh;
}



.email:focus,
.name:focus,
.passwd:focus {
  background: rgba(42, 27, 61, 0.6);
}





.loginBtn, .loginBtnSignup{
  position: absolute;
  width: 50%;
  height: 5vh;
  left: 25%;
  text-decoration: none;
  outline: none;
  font-size: 0.8vw;
  top: 38vh;
  border-radius: 20px;
  background: rgba(42, 27, 61, 0.6);
  color: white;
  border: 1px solid white;

}

.nameSignup {
  position: absolute;
  top: 16vh;
  border: 1px solid white;

}
.emailSignup {
  position: absolute;
  top: 25vh;
  border: 1px solid white;

}
.passwd,.passwdSignup {
  position: absolute;
  top: 28vh;
  border: 1px solid white;

}

.passwdSignup {
  top: 34vh;

}

.loginBtnSignup {
  top: 43vh;

}



.login form input::placeholder {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.login form p {
  color: white;
  font-size: 25px;
  width: 24vw;
  position: absolute;
  top: 5vh;
  left: 2vw;
}


.signUp form p {
  color: white;
  font-size: 25px;
  width: 24vw;
  position: absolute;
  top: 5vh;
  left: 2vw;
}

.secondaryBkgLogin {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 27vw;
  background : $secondaryLoginBkg;
  border-radius: 20px;
  z-index: 0;
}

.secondaryBkgLogin {
    animation: slideDown 2s 1 forwards ease-in-out;
    height: 100%;

}

.loginForm:hover > hr {
    animation: hrAnimate 2s 1 1s forwards ease-in-out;
}


@keyframes slideDown {
  from {
    height: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  to {
    background: rgba(0, 0, 0,0.7);
    height: 54vh;
  }
}

@keyframes hrAnimate {
    from {
      width: 5vw;
    }
  
    to {
      width: 22vw;
    }
  }

hr {
  position: absolute;
  top: 12vh;
  left: 2vw;
  width: 6vw;
  height: 1px;
  background: white;
}


.signUperror {
  position: absolute;
  bottom: 1vh;
  font-size: 1vw;
  color: red;
  width: 25vw;
}

.signUpsuccess {
  position: absolute;
  bottom: 1vh;
  font-size: 1vw;
  width: 25vw;
  color: red;

}